<div class="img-principal">
  <nav class="navbar navbar-dark bg-indigo justify-content-between">
    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{selectedLanguage}}
      </button>
      <div class="dropdown-menu bg-indigo-secondary" type="button" aria-labelledby="dropdownMenuButton">
        <a *ngIf='opcionSeleccionada===1' (click)="onSelectOpcion(2)" class="dropdown-item">{{name2}}</a>
        <a *ngIf='opcionSeleccionada===2' (click)="onSelectOpcion(1)" class="dropdown-item">{{name1}}</a>
      </div>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="buscar" maxlength="20"
        [(ngModel)]="buscar">
      <button class="btn btn-outline-primary">Buscar</button>      
    </form>

  </nav>

  <h1 *ngIf='opcionSeleccionada===1' class="text-center"><a class="badge badge-light" type="button"
      (click)="onSelectOpcion(2)">{{name1}}</a></h1>
  <h1 *ngIf='opcionSeleccionada===2' class="text-center"><a class="badge badge-light" type="button"
      (click)="onSelectOpcion(1)">{{name2}}</a></h1>

  <div class="row justify-content-center mt-3 container-fluid">
    <div class="col-md-4">
      <form>
        <!--input class="form-control mr-sm-2 my-3" type="search" placeholder="Buscar" aria-label="Search" name="buscar"
          [(ngModel)]="buscar"-->
        <div class="list-group">
          <a *ngFor="let palabra of palabras | buscarPalabras:buscar:opcionSeleccionada" (click)="onSelect(palabra)"
            class="list-group-item list-group-item-action flex-column borde-rosa">
            <a *ngIf="palabras != null">
              <div class=" w-100 ">
                <h5 *ngIf='opcionSeleccionada===1' class="mb-1">{{palabra.palabra1}}</h5>
                <h5 *ngIf='opcionSeleccionada===2' class="mb-1">{{palabra.palabra2}}</h5>
              </div>
            </a>
          </a>
        </div>
        <div *ngIf="(palabras | buscarPalabras:buscar:opcionSeleccionada).length === 0">
          <h3 class="mb-1"><a class="badge badge-light" type="button"> No hay palabras para mostrar</a></h3>
        </div>
      </form>
    </div>
    <div class="col-md-4 vh-100 sticky-top">        
      <div *ngIf="palabraSeleccionada && (palabras | buscarPalabras:buscar:opcionSeleccionada).length > 0">
        <app-palabra [entradas]="{palabra: palabraSeleccionada, opcion: opcionSeleccionada}"></app-palabra>
      </div>
    </div>
  </div>
</div>
<!--router-outlet></router-outlet-->